<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} %level %t %c %X{laufid} - %m %n"/>
    </Console>
    
<!--    <JDBC name="LauflogFO" tableName="LAUFLOG">
      <DynamicThresholdFilter key="myLogLvl" defaultThreshold="ERROR"
                              onMatch="ACCEPT" onMismatch="DENY">
        <KeyValuePair key="TRACE" value="TRACE"/>
        <KeyValuePair key="DEBUG" value="DEBUG"/>
        <KeyValuePair key="INFO" value="INFO"/>
        <KeyValuePair key="WARN" value="WARN"/>
        <KeyValuePair key="FATAL" value="FATAL"/>
      </DynamicThresholdFilter>
      <bufferSize>10</bufferSize>
      MODE=MSSQLServer
              connectionString="jdbc:postgresql://localhost:5432/sportal"
      driverClassName="org.postgresql.Driver" 
      <PoolingDriver 
        connectionString="jdbc:sqlserver://localhost:51434;databaseName=SPortal" 
        driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" 
        userName="sa" 
        password="ifdG4l01">
        PoolableConnectionFactory default values 
        <PoolableConnectionFactory 
          autoCommitOnReturn="true"
          cacheState="true"
          defaultAutoCommit="true"
          defaultCatalog=""
          defaultQueryTimeoutSeconds="0"
          defaultReadOnly="false"
          defaultTransactionIsolation="-1"
          fastFailValidation="true"
          maxConnLifetimeMillis="-1"
          maxOpenPreparedStatements="8"
          poolStatements="true"
          rollbackOnReturn="true"
          validationQuery=""
          validationQueryTimeoutSeconds="-1"
        >
        </PoolableConnectionFactory>
      </PoolingDriver>
      <Column name="SCHNITTSTELLE" pattern="%X{schnittstelle}" isUnicode="false" />
      <Column name="VERSION" pattern="%X{version}" isUnicode="false" />
      <Column name="LAUF" pattern="%X{laufid}" isUnicode="false" />
      <Column name="LEVEL" pattern="%level" isUnicode="false" />
      <Column name="EVENTDATE" isEventTimestamp="true"/>
      <Column name="THREAD" pattern="%t" isUnicode="false" />
      <Column name="LOGGER" pattern="%logger" isUnicode="false" />
      <Column name="TEXT" pattern="%m" isUnicode="false" />
    </JDBC>-->
    
    <JDBC name="Lauflog" tableName="LAUFLOG">
      <DynamicThresholdFilter key="myLogLvl" defaultThreshold="ERROR"
                              onMatch="ACCEPT" onMismatch="DENY">
        <KeyValuePair key="TRACE" value="TRACE"/>
        <KeyValuePair key="DEBUG" value="DEBUG"/>
        <KeyValuePair key="INFO" value="INFO"/>
        <KeyValuePair key="WARN" value="WARN"/>
        <KeyValuePair key="FATAL" value="FATAL"/>
      </DynamicThresholdFilter>
      <!--<bufferSize>10</bufferSize>-->
      <!--MODE=MSSQLServer-->
      <!--        connectionString="jdbc:postgresql://localhost:5432/sportal"
      driverClassName="org.postgresql.Driver" -->
      <PoolingDriver 
        connectionString="jdbc:sqlserver://localhost:51434;databaseName=SPortal" 
        driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" 
        userName="sa" 
        password="PW">
        <!--PoolableConnectionFactory default values--> 
        <PoolableConnectionFactory 
          autoCommitOnReturn="true"
          cacheState="true"
          defaultAutoCommit="true"
          defaultCatalog=""
          defaultQueryTimeoutSeconds="0"
          defaultReadOnly="false"
          defaultTransactionIsolation="-1"
          fastFailValidation="true"
          maxConnLifetimeMillis="-1"
          maxOpenPreparedStatements="8"
          poolStatements="true"
          rollbackOnReturn="true"
          validationQuery=""
          validationQueryTimeoutSeconds="-1"
        >
        </PoolableConnectionFactory>
      </PoolingDriver>
      <Column name="SCHNITTSTELLE" pattern="%X{schnittstelle}" isUnicode="false" />
      <Column name="VERSION" pattern="%X{version}" isUnicode="false" />
      <Column name="LAUF" pattern="%X{laufid}" isUnicode="false" />
      <Column name="LEVEL" pattern="%level" isUnicode="false" />
      <Column name="EVENTDATE" isEventTimestamp="true"/>
      <Column name="THREAD" pattern="%t" isUnicode="false" />
      <Column name="LOGGER" pattern="%logger" isUnicode="false" />
      <Column name="TEXT" pattern="%m" isUnicode="false" />
    </JDBC>
    
    
<!--    <Failover name="Failover" primary="Lauflog">
      <Failovers>
        <AppenderRef ref="Async"/>
      <AppenderRef ref="LauflogFO"/>
      </Failovers>
    </Failover>
    
    <Async name="Async">
      <AppenderRef ref="Lauflog"/>
    </Async>
    
    <Async name="AsyncFO">
      <AppenderRef ref="Failover"/>
    </Async>-->
    
  </Appenders>
  
  <Loggers>
    <AsyncLogger  name="IIPLAUFLOG" level="trace" additivity="false" includeLocation="true" >
      <!--<Logger  name="IIPLAUFLOG" level="trace" additivity="false">-->
      <AppenderRef ref="Lauflog"  />
      <!--<AppenderRef ref="Failover"  />-->
      <!--<AppenderRef ref="Async"  />-->
      <!--<AppenderRef ref="AsyncFO"  />-->
      <!--</Logger >-->
    </AsyncLogger >
    <Root level="trace" additivity="false">
      <AppenderRef ref="Console" />
    </Root>
    
    <Logger name="org.h2" level="warn" additivity="false" >
      <AppenderRef ref="Console" />
    </Logger>
    
  </Loggers>
</Configuration>